body{
  margin:0;
  padding: 0;
}

.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-top{
  border: 4px solid cyan;
}
.container{
border: 4px solid blue;
flex-grow: 2;
display: flex;
}

